go 1.19

use (
	"./01 - package-test"
	"./02 - classes-exception-handling"
	"./03 - goroutines-simple"
	"./04 - goroutines-wait-group"
	"./05 - goroutines-read-write"
	"./06 - goroutines-read-write-lock"
	"./07 - goroutines-wait-groups-advanced"
	"./08 - goroutines-buffered-channel-wait-groups"
	"./09 - goroutines-weighted-semaphore-wait-groups"
)
